In [3]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import zipfile

In [7]:
path='../data/raw/earnings_call_transcripts.csv.zip'

reg_path = 'earnings_call_transcripts.csv'

In [8]:
with zipfile.ZipFile(path, 'r') as z:
    with z.open(reg_path) as f:
        df = pd.read_csv(f)

In [ ]:
df

,ticker,quarter,date_time,speakers_list,transcript
0,NVDA,Q1,2024-05-24 17:00:00,"['Tim Arcuri', 'Colette Kress', 'Toshiya Hari'...","Operator: Good afternoon. My name is David, an..."
1,NVDA,Q2,2024-08-23 17:00:00,"['Colette Kress', 'Operator', 'Stacy Rasgon', ...","Operator: Good afternoon. My name is David, an..."
2,NVDA,Q3,2024-11-21 17:00:00,"['Tim Arcuri', 'Colette Kress', 'Operator', 'T...","Operator: Good afternoon. My name is JL, and I..."
3,NVDA,Q4,2024-02-21 17:00:00,"['Colette Kress', 'Toshiya Hari', 'Operator', ...",Operator: Good afternoon. My name is Rob and I...
4,NVDA,Q1,2023-05-25 12:00:00,"['Chris Caso', 'Tim Arcuri', 'Colette Kress', ...","Operator: Good afternoon. My name is David, an..."
...,...,...,...,...,...
723,LRCX,Q3,2021-04-21 17:00:00,NaN,"Operator: Good day, and welcome to Lam Researc..."
724,LRCX,Q4,2021-07-28 17:00:00,NaN,"Operator: Good day, and welcome to the June 20..."
725,LRCX,Q1,2020-10-23 17:00:00,NaN,"Operator: Good day, and welcome to the Septemb..."
726,LRCX,Q2,2020-01-29 17:57:00,NaN,"Operator: Good day, and welcome to the Lam Res..."
727,LRCX,Q3,2020-04-23 17:00:00,NaN,"Operator: Good day, and welcome to the Lam Res..."